<footer>
  <div class="footer">
    <div class="container">
      <div class="row footer-container">
        <div class="col-lg-3 col-md-6 col-xs-12">
          <h3>Tìm hiểu về chúng tôi</h3>
          <div class="footer-contents">
            <p>Giới thiệu về Duyfashion.com</p>
            <p>Trung tâm tin tức</p>
            <p>Nghề nghiệp</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <h3>Nhận hỗ trợ</h3>
          <div class="footer-contents">
            <p>Trò chuyện trực tiếp</p>
            <p>Kiểm tra trạng thái đơn hàng</p>
            <p>Hoàn tiền</p>
            <p>Báo cáo lạm dụng</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <h3>Tìm hiểu về chúng tôi</h3>
          <div class="footer-contents">
            <p>Giới thiệu về Duyfashion.com</p>
            <p>Trung tâm tin tức</p>
            <p>Nghề nghiệp</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12">
          <h3>Liên hệ</h3>
          <div class="footer-contents">
            <p>Email: duyabcgmail.com.vn</p>
            <p>Số điện thoại</p>
            <p>Địa chỉ: nhà a - ngõ b - phường c</p>
          </div>
          <div class="footer-connect">
            <div class="facebook-icon">
              <a href="facebook.com">
                <i
                  class="fa-brands fa-facebook fa-2xl"
                  style="color: rgb(8, 8, 116)"
                ></i>
              </a>
            </div>
            <div class="twitter-icon">
              <a href="twitter.com"
                ><i class="fa-brands fa-twitter fa-2xl" style="color: #fff"></i
              ></a>
            </div>
            <div class="tiktok-icon">
              <a href="tiktok.com">
                <i class="fa-brands fa-tiktok fa-2xl" style="color: #000"></i
              ></a>
            </div>
            <div class="youtube-ico">
              <a href="youtube.com"
                ><i
                  class="fa-brands fa-youtube fa-2xl"
                  style="color: #d52922"
                ></i
              ></a>
            </div>
            <a href="google.com">
              <div class="google-icon">
                <i class="fa-brands fa-google"></i></div
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
