.order-container {
  padding: 100px 0;
}
.table {
  width: 100%;
}
.product-info {
  display: flex;
  align-items: center;
}
.product-info-image {
  width: 150px;
}
.product-info-image > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
.product-info-name {
  margin-left: 28px;
}
td {
  text-align: center;
  vertical-align: middle;
}
.product-total-price h4 {
  font-size: 18px;
  margin-right: 20px;
}
.btn-gradient {
  background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
  color: #fff;
  border-radius: 15px;
}
.coupon-input {
  border-radius: 15px 0 0 15px;
}
.success-snackbar {
  background-color: #4caf50; /* Màu xanh lá cây cho thông báo thành công */
  color: white;
}

.error-snackbar {
  background-color: #f44336; /* Màu đỏ cho thông báo thất bại */
  color: white;
}
