<app-header></app-header>
<div class="order-confirm">
  <div class="container">
    <div class="order-confirm-container">
      <div class="order-confirm-header">
        <div class="tile-order-confirm">
          <h5>Xác nhận đơn hàng</h5>
          <p>Cảm ơn bạn đã ghé thăm và mua hàng từ cửa hàng chúng tôi!</p>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-start">Sản phẩm</th>
              <th scope="col" class="text-center">Số lượng</th>
              <th scope="col" class="text-center">Đơn giá</th>
              <th scope="col" class="text-center">Tổng giá</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="product-info">
                  <div class="product-info-image">
                    <img
                      src="https://www.apple.com/uk/iphone-16/images/meta/iphone-16_overview__fcivqu9d5t6q_og.png?202409100651"
                    />
                  </div>
                  <div class="product-info-name">
                    <b>Inphone 16 promax</b>
                  </div>
                </div>
              </td>
              <td>2</td>
              <td>$200</td>
              <td>$400</td>
            </tr>
            <tr>
              <td>
                <div class="product-info">
                  <div class="product-info-image">
                    <img
                      src="https://www.apple.com/uk/iphone-16/images/meta/iphone-16_overview__fcivqu9d5t6q_og.png?202409100651"
                    />
                  </div>
                  <div class="product-info-name">
                    <b>Inphone 16 promax</b>
                  </div>
                </div>
              </td>
              <td>2</td>
              <td>$200</td>
              <td>$400</td>
            </tr>
            <tr>
              <td>
                <div class="product-info">
                  <div class="product-info-image">
                    <img
                      src="https://www.apple.com/uk/iphone-16/images/meta/iphone-16_overview__fcivqu9d5t6q_og.png?202409100651"
                    />
                  </div>
                  <div class="product-info-name">
                    <b>Inphone 16 promax</b>
                  </div>
                </div>
              </td>
              <td>2</td>
              <td>$200</td>
              <td>$400</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center mt-3">
          <button class="btn btn-gradient">Tiếp tục mua sắm</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
