<app-header></app-header>
<div class="container">
  <div class="intro-section text-center">
    <h1>This is home</h1>
    <p>This is list product and buy product</p>
  </div>
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Search for ..."
    />
    <select class="form-control select-category-product">
      <option selected disabled>Category</option>
      <option value="0">Fashion</option>
      <option value="1">Phone</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="product-item">
        <img
          src="https://cdn.mos.cms.futurecdn.net/gqRrsDk9mgZDHBxrwQwN43-1200-80.png"
          class="product-img"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-warranty">Bao hanh: 12 month</p>
        <p class="product-price">
          Price: $100 <sup><del style="font-weight: normal">$200</del></sup>
        </p>
        <p class="product-description">
          Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Eaque, sequi. Atque, inventore. Obcaecati sit iure vitae temporibus
          enim quod molestias corrupti, dolorem alias perspiciatis! Cum hic ut
          consequuntur voluptates facere?
        </p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-action">
          <button class="product-action-btn cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <button class="product-action-btn buy">Buy now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="product-item">
        <img
          src="https://cdn.mos.cms.futurecdn.net/gqRrsDk9mgZDHBxrwQwN43-1200-80.png"
          class="product-img"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-warranty">Bao hanh: 12 month</p>
        <p class="product-price">
          Price: $100 <sup><del style="font-weight: normal">$200</del></sup>
        </p>
        <p class="product-description">
          Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Eaque, sequi. Atque, inventore. Obcaecati sit iure vitae temporibus
          enim quod molestias corrupti, dolorem alias perspiciatis! Cum hic ut
          consequuntur voluptates facere?
        </p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-action">
          <button class="product-action-btn cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <button class="product-action-btn buy">Buy now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="product-item">
        <img
          src="https://cdn.mos.cms.futurecdn.net/gqRrsDk9mgZDHBxrwQwN43-1200-80.png"
          class="product-img"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-warranty">Bao hanh: 12 month</p>
        <p class="product-price">
          Price: $100 <sup><del style="font-weight: normal">$200</del></sup>
        </p>
        <p class="product-description">
          Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Eaque, sequi. Atque, inventore. Obcaecati sit iure vitae temporibus
          enim quod molestias corrupti, dolorem alias perspiciatis! Cum hic ut
          consequuntur voluptates facere?
        </p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-action">
          <button class="product-action-btn cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <button class="product-action-btn buy">Buy now</button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-xs-12">
      <div class="product-item">
        <img
          src="https://cdn.mos.cms.futurecdn.net/gqRrsDk9mgZDHBxrwQwN43-1200-80.png"
          class="product-img"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-warranty">Bao hanh: 12 month</p>
        <p class="product-price">
          Price: $100 <sup><del style="font-weight: normal">$200</del></sup>
        </p>
        <p class="product-description">
          Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Eaque, sequi. Atque, inventore. Obcaecati sit iure vitae temporibus
          enim quod molestias corrupti, dolorem alias perspiciatis! Cum hic ut
          consequuntur voluptates facere?
        </p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-action">
          <button class="product-action-btn cart">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
          <button class="product-action-btn buy">Buy now</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
