<div class="container mt-5">
  <h2 class="text-center mb-4">Thêm sản phẩm</h2>
  <div>
    <zxing-scanner (scanSuccess)="onScanSuccess($event)"></zxing-scanner>
  </div>
  <form
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    class="needs-validation"
    novalidate
  >
    <div class="mb-3">
      <label for="name" class="form-label">Tên sản phẩm</label>
      <input id="name" formControlName="name" class="form-control" required />
      <div
        class="invalid-feedback"
        *ngIf="
          productForm.get('name')?.invalid &&
          (productForm.get('name')?.touched || productForm.get('name')?.dirty)
        "
      >
        Vui lòng nhập tên!
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Giá</label>
      <input
        id="price"
        formControlName="price"
        type="number"
        class="form-control"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="
          productForm.get('price')?.invalid &&
          (productForm.get('price')?.touched || productForm.get('price')?.dirty)
        "
      >
        Giá không hợp lệ!
      </div>
    </div>

    <div class="mb-3">
      <label for="quantity" class="form-label">Số lượng</label>
      <input
        id="quantity"
        type="number"
        formControlName="quantity"
        class="form-control"
        required
      />
      <div
        class="invalid-feedback"
        *ngIf="
          productForm.get('quantity')?.invalid &&
          (productForm.get('quantity')?.touched ||
            productForm.get('quantity')?.dirty)
        "
      >
        Số lượng không hợp lệ!
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        id="description"
        formControlName="description"
        class="form-control"
        required
      ></textarea>
      <div
        class="invalid-feedback"
        *ngIf="
          productForm.get('description')?.invalid &&
          (productForm.get('description')?.touched ||
            productForm.get('description')?.dirty)
        "
      >
        Vui lòng nhập mô tả!
      </div>
    </div>

    <div class="mb-3">
      <label for="category_id" class="form-label">Danh mục</label>
      <select
        id="category_id"
        formControlName="category_id"
        class="form-select"
        required
      >
        <option value="" disabled>Chọn danh mục</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <div
        class="invalid-feedback"
        *ngIf="
          productForm.get('category_id')?.invalid &&
          (productForm.get('category_id')?.touched ||
            productForm.get('category_id')?.dirty)
        "
      >
        Vui lòng chọn danh mục
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="productForm.invalid"
    >
      Create Product
    </button>
  </form>
</div>
